:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-header-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --button-bg-color: #F5F4FA;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --additional-background-color: #F5F4FA;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: var(--main-background-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    outline: 1px solid tomato;
}

/* background-color */
.accent {
    background-color: var(--secondary-background-color);
}
.section-team {
    background-color: var(--additional-background-color);
}

/* logo */
.logo {
    color: var(--accent-color);
}
.logo-header,
.logo-footer {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo-header {
    color: var(--logo-header-color);
}
.logo-footer {
    display: inline-block;
    padding-bottom: 20px;
    color: var(--title-text-color);
}

/* nav */
/*.container-nav {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 80px;
    padding-top: 24px;
    padding-bottom: 25px;
    outline: 1px solid tomato;
}
.container-contacts {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 30px;
    padding-top: 24px;
    padding-bottom: 25px;
    outline: 1px solid tomato;
}*/
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.header-contacts {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* baner */
.baner {
    text-align: center;

}
.baner-headline {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

/* button */
.button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-color);
}

/* features */
.section-features {
    margin-top: 0;
    margin-bottom: 94px;
}
.hidden {
    font-size: 0;
}
.features .features-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.features .features-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* what we do */
.section-heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* team */
.team-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.position-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.bg-card {
    background-color: var(--main-background-color);
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-photo {
    margin-bottom: 30px;

}

/* footer*/
.address-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer-contacts {
    display: inline-block;
    padding-bottom: 9px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

/* portfolio-page */
.filters-button .portfolio-button {
    display: inline-block;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    margin: 1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}
.portfolio-button /*.primary*/ {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}
.portfolio-button /*.secondary*/ {
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
}
.poster {
    margin-bottom: 20px;
}
.project-bg {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    background-color: var(--main-background-color);
}
.link-list {
    text-decoration: none;
}
.project-title {
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 24px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.product-text {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 24px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}